<h1 class="text-1xl font-bold underline">Title: <%= book.title %></h1>
<br>
<%= form_with model: [ book, cover ] do |form| %>
  <%= hidden_field_tag :previous_request, request.referer %>
  <div class="grid grid-rows-4 grid-flow-col gap-4">
    <div>
      <%= form.label :edition, class: "font-bold" %><br>
      <%= form.text_field :edition, class: "border-8" %>
    </div>
    <div>
      <%= form.label :format, class: "font-bold" %><br>
      <%= form.collection_select :format_id, Format.order(:name),:id,:name, {:selected => form.object.format_id || Format.default.id}, class:"inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %>
    </div>
    <div>
      <% if cover.image.present? %>
        <%= image_tag(cover.image.variant(:thumb)) %>
      <% end %>

      <%= form.file_field :image %>
    </div>
    <div>
      <%= form.submit class:"text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
    </div>
  </div>
<% end %>
