<h1 class="text-3xl font-bold underline">
  Covers
</h1>
<%= form_tag covers_path, method: :get do %>
  <div class = "flex justify-end">
    <%= text_field_tag :search, params[:search], class: "border-8" %>
    <%= submit_tag "Search", class:"text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
  </div>
<% end %>
<%= render "covers", covers: @covers, show_page_count: true %>


<% if params[:page].to_i > 1 %>
  <%= link_to "Previous", covers_path(page: [params[:page].to_i, 1].max - 1) %>
<% end %>

<% if @covers.size == @per_page %>
  <%= link_to "Next", covers_path(page: [params[:page].to_i, 1].max + 1) %>
<% end %>
