<tr id="<%= dom_id format %>" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
  <td scope="col" class="px-6 py-3"><%= format.name %></td>
  <td scope="col" class="px-4 py-3"><%= format.height %></td>
  <td><%= link_to "Edit", edit_format_path(format) %></td>
  <td><%= link_to "Delete", format_path(format), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></td>
</tr>
