<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th>Title</th>
      <th>Author </th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr id="<%= dom_id book %>" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td scope="col" class="px-6 py-3"><%= link_to book.title, book_path(book) %></td>
        <td scope="col" class="px-4 py-3"><%= book.author%></td>
        <td><%= link_to "Edit", edit_book_path(book) %></td>
      </tr>
    <% end %>
  </tbody>
 </table>
 </div>

<%= link_to "New Book", new_book_path %>
